*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #1fc1e5;
    

}

.header{
    padding: 20px;
    width: 100%; 
    display: inline-block;
    border-style: dashed;
    border: 5%;
    border-color: silver black;
}
.header h1{
    font-size: 50px;
}
.header div{
    padding-top: 20px;
    margin-right: 20px;
    font-size: 20px;
}
.header div ul{
    list-style-type: none;
    float: right;
}
.header div ul li{
     margin-left: 20px;
     float: left;
    font-size: 20px;
} 

.aboutMe{
    padding-top: 10px;
    width: 50%;
    float: left;
    padding-right: 10px;
    border-style: dashed;
    border: 5%;
    border-color: silver black;
}
.aboutMe h1{
    padding: 10px;
    text-align: center;
    background-color: red;
}
.aboutMe p{
    font-size: 16px;
    text-align: left;
}
.aboutMe img{
    width: 15%;
    float: right;
    
}

.myFamily{
    padding: 20px;
    width: 50%;
    height: 310px;
    float: right;
    border-style: dashed;
    border: 5%;
    border-color: silver black;
}
.myFamily img{
    width: 100px;
}

.Work{
    padding: 20px;
    border-style: dashed;
    border: 5%;
    border-color: silver black;
}
.Work h1{
    
    text-align: center;
}

.CI{
    padding: 20px; 
    border-style: dashed;
    border: 5%;
    border-color: silver black;
}
.CI h1{
    
    text-align: left;
}
.CI p{
    text-align: center;
}